service: lambda-orchestrator
frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs22.x
  region: us-east-1
  environment:
    CUSTOMERS_API_URL: ${env:CUSTOMERS_API_URL, 'http://localhost:3001'}
    ORDERS_API_URL: ${env:ORDERS_API_URL, 'http://localhost:3002'}
    SERVICE_TOKEN: ${env:SERVICE_TOKEN, 'token_super_secreto_123'}
custom:
  serverless-offline:
    httpPort: 3000       
    websocketPort: 3003  
    lambdaPort: 3004
plugins:
  - serverless-offline

functions:
  createOrder:
    handler: handler.createOrder
    events:
      - http:
          path: order
          method: post
          cors: true
  createAndConfirmOrder:
    handler: handler.createAndConfirmOrder
    events:
      - http:
          path: orchestrator/create-and-confirm-order
          method: post
          cors: true    